[2014-04-07 22:26] ethanresnick opened #1 "Section Photos"
It'd be very good for conveying our brand if each section had a photo or two to go along with it. To do that, we need:

1. to pick at least two photos for each section, where one photo is landscape (for wide screen sizes) and the other is portrait (for narrower screen sizes). In each photo, the subjects should be centered, as the left and right or top and bottom edges may be cropped depending on t

[2014-04-07 22:35] ethanresnick opened #2 "Create Facebook groups"
We've talked about making 5 facebook groups for different segments of our audience. Each group would include a variety of events that a member of that group might be interested in. The groups would be administered by the initiative leads, so they can make sure people stay on topic, etc. and can set the right tone, but marketing would also have access to post links to events when the initiative lea

[2014-04-08 00:30] ethanresnick opened #3 "Getting in Event Data"
The site's design assumes that it has data on our next event (for the homepage) and our event calendar (for the event calendar section). We need some way to get this data in.

The simplest way is to handle the Event Calendar section by just linking to a Google Calendar with all our events and to handle the homepage by having someone manually input the next event. And this may very well be what the

[2014-04-08 01:29] ethanresnick opened #4 "Fix the nav"
We need to support the paginated and the scrolling versions, in both the small and large designs, with each section communicating it's position on the page to influence when the nav color changes (and to change the section name in the small design). Also, all of this needs to be made to work with skrollr menu, which can't be disabled once instantiated, so usable offsets need to be there regardless

[2014-04-08 01:39] ethanresnick opened #5 "Run the code through JSHint + unit tests on build"
Low priority.

 Just a matter of updating the gulp file to use jshint (and setting up scaffolding for future unit tests as none exist yet).

[2014-04-08 01:53] ethanresnick opened #6 "Make about section presentable"
The about section on the new site has a bunch of sub-sections: What We've Made, Our Team, Blog, and Job Board. For launch, we can just link all of these to their existing destinations, i.e. ship.cc, the existing team page, the existing blog (or the new one on tumblr if that's ready), and the existing job board. All we'll have to do is update the nav on the squarespace site so that the user, when s

[2014-04-08 18:37] ethanresnick opened #7 "Digest hookup"
Right now, the digest form on the home page (and on the "Follow the latest in tech" section) doesn't do anything. We need to replace it with the ```<form>``` HTML code from Mailchimp, which we should reconfigure to only ask for email.

Also, when you submit the form, I think mailchimp sends back a response via ajax saying either that there was an error or that things succeeded and now you just hav

[2014-04-08 18:50] ethanresnick opened #8 "Final copy"
The current version of the new design has decent copy for everything, but that copy could probably use an edit. Can happen before or after launch. The current copy is in a Google Doc. Lmk if you need access.

[2014-04-08 19:01] ethanresnick opened #9 "Figure out hosting"
I'm not an expert on setting up servers, so this might be for someone else to do. But my current thought was that we could host on Rackspace, as we have a big credit there.

The only requirement is that we need the have node installed with npm, which can then load all our other dependencies.

Optionally, we could also have ruby and a few gems (sass, compass, breakpoint) installed, which would let

[2014-04-08 19:05] ethanresnick opened #10 "Digest signup height change breaks large design animation"
On the large design, if the user is focused in the digest email field (causing the upcoming section to grow taller), the animation that scrolls the `#upcoming` div off the page isn't notified of the height change. The result is that, as the user scrolls down, the upcoming section never goes off the screen entirely, but the top 100px or so of it stay visible. Also, the logo (which was pushed up by

[2014-04-08 23:43] ethanresnick opened #11 "SEO"
We need to redirect all the pages from the old site with 301s to the hash url on the new site.

[2014-04-09 00:15] ethanresnick opened #12 "Design the sections"
Right now, the designs are almost done, assuming all we have to describe each initiative/type of event is a short description and a link to the facebook group.

But if we have info about the next event for each initiative—which we should have but which [it's not clear if we will](https://github.com/ethanresnick/tech-nyu-site/issues/3)—we'll need to come up with a design that includes it.

[2014-04-09 02:32] ethanresnick opened #13 "Performance"
- [ ] Make any images (e.g. the scroll cue, and the social icons) into sprites, with a separate sprite for standard res images and retina.
- [x] Convert all animations that are still in the skrollr stylesheets file into JS, so that those stylesheets don't have to be requested (but then find someway to update the skrollr stylesheets code so it still works with responsive).

[2014-04-10 15:22] AbhiAgarwal opened #14 "Error"
[gulp] { plugin: 'gulp-ruby-sass',
  showStack: undefined,
  name: 'Error',
  message: '\nLoadError: no such file to load -- sass-globbing\n  ',
  fileName: undefined,
  lineNumber: undefined }

is that significant? I'm not sure what file it's exactly trying to load using gulp. Is that an error you have during build as well?

[2014-04-10 18:10] #14 closed, assigned to ethanresnick

[2014-04-11 18:39] ethanresnick opened #15 "Scroll Cue Icon"
- Make the icon support retina (a 2x resolution background-image for those screens, or even switching to svg)
- Consider wrapping the arrow in a circle of some sort (usability testing showed that some people could still use a more prominent cue, and with a circle it would look like a button too, which is good)

[2014-04-12 19:56] ethanresnick opened #16 "Logo Size differs (dramatically) in Firefox and Chrome"
Our logo is an SVG (and must be so that we can animate its color cross-browser). But browsers size SVGs differently from one another. I think this is the relevant [bug/description](https://code.google.com/p/chromium/issues/detail?id=308992&q=svg%20fill&colspec=ID%20Pri%20M%20Iteration%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified). My hope is that we can somehow manipulate width/h

[2014-04-14 05:50] #8 closed, assigned to nobody

[2014-04-15 02:00] #2 closed, assigned to nobody

[2014-04-15 03:47] ethanresnick opened #17 "On large design with paginated scrolling, scroll bar goes on for too long past end of event calendar section"

[2014-04-15 03:51] #4 closed, assigned to nobody

[2014-04-15 03:53] #9 closed, assigned to nobody

[2014-04-15 05:37] ethanresnick opened #18 "Get started hash, if present on page load, doesn't go to right place in large design"

[2014-04-15 07:51] ethanresnick opened #19 "Add dropdown arrow to calendar icon when in calendar section on small design"

[2014-04-15 08:42] ethanresnick opened #20 "move svgs from inline in template to partials; make a macro for mailchimp form"

[2014-04-15 20:01] ethanresnick opened #21 "Make paginated views scroll distances dependent on screen height"
Will fix the scroll feeling too jumpy to some people and too slow to others, since it'll actually approximate how much scrolling they usually have to do to move from one screen or another.

[2014-04-15 22:13] #18 closed, assigned to nobody

[2014-04-15 22:24] ethanresnick opened #22 "Resizing from large design to small design breaks small design nav animations"
The logo is still in the right place, but the ol never shows up. Doesn't matter whether you switch from large paginated or large scrolling.

[2014-04-16 00:14] ethanresnick opened #23 "hide address bar on mobile"
will require doing at least one real scroll

[2014-04-16 00:38] BrittanyV opened #24 "Safari Weirdness"
See photos attached below for what I was talking about in email thread earlier today
![screen shot 2014-04-15 at 8 37 22 pm](https://cloud.githubusercontent.com/assets/4997886/2714890/6c40b274-c4ff-11e3-9b98-29d534742b33.png)
![screen shot 2014-04-15 at 8 38 32 pm](https://cloud.githubusercontent.com/assets/4997886/2714891/76f36496-c4ff-11e3-8859-95dbb146a3f2.png)
![screen shot 2014-04-15 at 8 39

[2014-04-16 14:00] #22 closed, assigned to nobody

[2014-04-17 01:53] #20 closed, assigned to nobody

[2014-04-17 08:32] ethanresnick opened #25 "Make mobile text 1px bigger, contract outerPadding"
Need to find a way to contract outerPaddingPx on all elements at once, and beyond just scaling/stretching it proportionally with mqs. Meaning I'll have to apply outerPadding automatically to all elements that fit some pattern (e.g. have a class, or are something like `body > *`), rather than the haphazard applications of it I'm doing now.

[2014-04-17 09:54] ethanresnick opened #26 "Restyle menu on large design"
Using this techique: http://www.barrelny.com/blog/text-align-justify-and-rwd/

Why didn't i remember this earlier ugh

[2014-04-17 11:43] ethanresnick opened #27 "Mobile resize/orientationchange gives useless offsets"
On mobile, when we scroll, we don't actually scroll but rather manipulate the `translateY` on `#skrollr-body` (see https://github.com/Prinzhorn/skrollr#the-problem-with-mobile-and-the-solution). The problem is that this actually changes the section's relative to the top of the document, whereas actual scrolling moves the section along with the top of the document. So we need to somehow detect whet

[2014-04-21 04:35] #27 closed, assigned to nobody

[2014-04-21 16:43] maxdumas opened #28 ""Getting Started" Anchor Remains Clickable After Scrolling Past Landing Page"
The anchor with id "scrollCue" that is used to quickly scroll to the Getting Started page still exists and still is doing its oscillating motion thing after scrolling past the landing page. It should probably be hidden.

[2014-04-25 02:16] #24 closed, assigned to ethanresnick

[2014-05-06 21:29] rgardner opened #29 "Promotions Page?"
Should we have a webpage where students can find eboard-curated developer deals? 60% off on o'reilly books, software discounts, hardware deals, etc. Companies may come to us with these promotions themselves or we may find them on our own. I think there's value in posting these kinds of promotions, but we shouldn't make any guarantee to the company that we'll post it unless they pay us.

cc @ethanr

[2014-05-25 11:54] ethanresnick opened #30 "Job Board needs more prominence"

[2014-07-18 07:25] #16 closed, assigned to nobody

[2014-09-08 17:13] rgardner opened #33 "Use Vagrant / VirtualBox to simplify development process."

[2014-09-10 16:44] ethanresnick opened #34 "Redirect HTTPS traffic to HTTP"

[2014-09-21 17:57] AbhiAgarwal opened #38 "Thoughts about Cloudflare?"
Hey.

Any thoughts about using Cloudflare for the site? It'll help with caching and also our HTTPS issue.

I think it's a great idea. I've used it for all my projects, and it's a little overkill, but it always helps in speed (for me atleast)

[2014-09-24 15:58] maxdumas opened #39 "Custom 404 Message is Persistent for All Users"
i.e. http://techatnyu.org/dsasdfkasdjf

Not a big deal at all, especially since that page is totally bunk now anyway, but still a bug. :)

[2014-09-25 05:23] #39 closed, assigned to nobody

[2014-09-29 22:22] maxdumas opened #41 "techatnyu.org and api.tnyu.org are both down"
techatnyu.org is unable to connect.

api.tnyu.org times out.

Anyone know what's up?

[2014-09-30 07:23] #41 closed, assigned to nobody

[2014-10-08 09:28] irisyuan opened #43 "Missing header and broken scroll when resizing Chrome, Firefox 32.0.2"
See screenshots under #21

I can't make After Hours today but I'll look into this (yeah, not a priority, just for fun).

[2014-10-22 15:44] AbhiAgarwal opened #44 "humans.txt and robots.txt"
Having a humans.txt and robots.txt would be cool to have.
 - http://humanstxt.org/
 - http://www.robotstxt.org/

http://techatnyu.org/humans.txt
 - https://raw.githubusercontent.com/h5bp/html5-boilerplate/master/src/humans.txt

http://techatnyu.org/robots.txt
 - https://raw.githubusercontent.com/h5bp/html5-boilerplate/master/src/robots.txt

[2014-10-25 11:36] irisyuan opened #45 "Images don't appear on larger screen sizes"
If you decrease the screen size (Chrome) < ~900px wide, images appear. But if you increase screen size more, the images disappear. I actually didn't know there were images headlining each section until I checked it on my phone. Is this a known issue/ replicable?

[2014-10-26 06:05] #45 closed, assigned to nobody

[2014-10-31 12:21] rgardner opened #46 "Big ol' Startup Week Link"
During Startup Week, have a huge link to the nyusw.com from techatnyu.org. One idea is to replace the "starter" images with SW posters.

[2014-11-02 17:06] #46 closed, assigned to nobody

[2014-11-06 03:57] ethanresnick opened #49 "Events no longer updating"
Hey guys,

Any idea why the "Upcoming Event" panel on the homepage is no longer updating? (It's been stuck on Studio Time for a few days.) Was the site deployed as a static page for some reason, rather than a node app? Idk. The event seems to update on my local system

[2014-12-03 01:35] irisyuan opened #51 "Create front-end style guides"
I know this isn't a priority right now, but wouldn't this be cool? It would help with future branding & save time later on when design is a bottleneck (like we sort of saw this semester). & of course, this is a good practice opportunity for eboard interested in design.

[2014-12-07 23:35] ethanresnick opened #52 "Add team emails to site?"

[2015-01-02 10:59] AbhiAgarwal commented on #49
@ethanresnick sites back up! I don't have my computer right now so I can't do anything else (for now)

[2015-02-27 21:29] sjkaliski opened #54 "Deployment"
How are we doing this now?

I'd recommend having some CI so we can move on this quicker.

[2015-02-27 21:39] ethanresnick commented on #54
right now, we're deploying manually. but we've been moving over to using githooks linked to master, which sounds fine to me for this repo too..

[2015-02-27 22:02] thebyrd commented on #34
wait, why is nginx running?

[2015-02-27 22:06] AbhiAgarwal commented on #34
No nginx running! We're using iptables - this was when I thought we were going to be having both the API/website on the same server.

[2015-02-27 22:14] thebyrd commented on #34
ah, perfect. Ok, well in order to get cloudflare to work with ssl, I think you need to also forward to 443

[2015-02-27 22:16] AbhiAgarwal commented on #34
@ethanresnick: are there any subdomains in the techatnyu.org website that needs to be using SSL? We can remove the api.techatnyu.org b/c that's the only one that comes to mind that needs to run using SSL.

I don't think we should using cloud for tnyu.org yet

[2015-02-28 00:17] ethanresnick commented on #34
@AbhiAgarwal I think we should assume that, at some point, we may have other subdomains on techatnyu.org that use SSL. So cloudflare should be set up to support that, if possible.

But, for right now, I was just suggesting doing a simple 301 redirect to `http`.

[2015-02-28 00:20] ethanresnick commented on #38
cc @thebyrd. This issue seems to imply that we moved to cloudflare a while ago, but I guess not. Is the move totally done now? If so, I'll close this.

[2015-02-28 00:23] ethanresnick commented on #3
HEY LOOK GUYS, MOST OF THIS SHIT ACTUALLY HAPPENED.

Especially now that we're working on TechAtNYU/calendar-server.

I'm going to close this.

[2015-02-28 00:23] #3 closed

[2015-02-28 00:30] #1 closed

[2015-02-28 00:34] #11 closed

[2015-02-28 19:05] AbhiAgarwal commented on #49
It's been fixed! I pulled and restarted after @ethanresnick's fix.

[2015-02-28 21:37] thebyrd commented on #38
@ethanresnick it's done. Previously you were using namecheap's DNS

[2015-03-02 15:21] ethanresnick opened #57 "FOUT is worse"
Something that cloudflare's doing to load more things in parallel is causing the page to render before the proper font has downloaded, which looks awful. Can we configure this behavior through Cloudflare? (If not, there's probably something we can do through typekit's loader)

[2015-03-02 15:52] AbhiAgarwal commented on #57
cc @thebyrd (he did the Cloudflare setup)

It seems like everything else is loading much before the fonts.

[2015-03-02 16:22] ethanresnick commented on #49
@AbhiAgarwal This still isn't working. I just tried it today and the new event isn't showing up. All my fix did was update the code to use the new payload structure but, even before the payload structure changed (i.e. when the site's parsing code was right), this wasn't working. So something else is going on.

[2015-03-02 16:28] thebyrd commented on #57
For starters, don't load 11 fonts.

You can add a data attribute to the typekit script tags to make them block https://support.cloudflare.com/hc/en-us/articles/200168136-How-do-I-use-Rocket-Loader-with-TypeKit-

[2015-03-02 16:30] #49 closed

[2015-03-02 16:30] ethanresnick commented on #49
Nvm, just fixed it.

[2015-03-02 17:44] sjkaliski commented on #57
Cloudflare just highlighted the real issue: any content that's above the fold shouldn't be rendered with JavaScript, especially if the payload is that large.

[2015-03-02 18:17] ethanresnick commented on #57
@thebyrd Ok, I added the data-attribute. Hopefully that'll do the trick. But @AbhiAgarwal, can you check the githook? Because the changes don't seem to be auto-deploying.

@sjkaliski The js that does the layout seems to finish executing well before the font loads, so I don't think it's the bottleneck. I might be able to shrink the number of fonts we're loading, though, by making different kits for

[2015-03-02 18:59] AbhiAgarwal commented on #57
No githook yet! My laptop charger is lost so I won't be able to make any
changes until I get one tonight. Will make sure to update you then

On Monday, March 2, 2015, Ethan <notifications@github.com> wrote:

--
Abhi

[2015-03-02 19:08] ethanresnick commented on #57
@AbhiAgarwal kewl

[2015-03-02 19:37] thebyrd commented on #57
@ethanresnick cloudflare caches everything. Ping me on slack when it's redeployed and I'll clear the cache.

[2015-03-02 19:42] #54 closed

[2015-03-02 20:17] AbhiAgarwal commented on #57
@ethanresnick I've enabled the githook. It should work now!

[2015-03-03 12:55] ethanresnick commented on #57
@thebyrd just did! i'm going to add some more notes about this in the cloudflare issue too.

[2015-03-03 12:55] #57 closed

[2015-03-03 12:57] ethanresnick commented on #38
two more things about this, prompted by @thebyrd's [comment](https://github.com/TechAtNYU/tech-nyu-site/issues/57#issuecomment-76794092) about cloudflare caching

1. going forward, is there any way we can automatically ping cloudflare when we redeploy, to get it to invalidate its cache?
2. how is this going to affect the event on the homepage updating? can we control the cloudflare ttl?

[2015-03-03 12:58] ethanresnick commented on #38
nvm, going to open a new issue

[2015-03-03 12:58] #38 closed

[2015-03-03 13:00] ethanresnick opened #58 "Cloudflare caching"
prompted by @thebyrd's [comment](https://github.com/TechAtNYU/tech-nyu-site/issues/57#issuecomment-76794092) about cloudflare caching:

1. can we ping cloudflare when we redeploy to invalidate its cache?
2. just more generally, can we control the cloudflare ttl? we need to think about this for the updating event on our homepage

[2015-03-03 16:43] thebyrd commented on #58
1. Yes
2. Yes, I've made it 4 days, but can change that for you. If you're only updating html for each event, probs ok to make it 1 day?

[2015-03-03 16:57] ethanresnick commented on #58
Cool.

Re 2. Sometimes we get our events into the system pretty last minute, like ~6 hours before (not ideal, but hey). Also, during Startup Week, where we can have one event right after another, we kinda need the page to update in near-real time. So, if we had to pick one time that would cover the SW case too, we'd probably want something really aggressive, like every 15 minutes. Is that an optio

[2015-03-03 17:05] thebyrd commented on #58
1. There's an API I'll cook up a bash script for you

2. You guys are on the bowery business plan, so you can do all of this. I'd rather keep the TTL long and then just purge every time you deploy. Since people don't use the website that frequently, you loose a lot of the benefits of the cache if everything expires every 6 hours.

[2015-03-03 17:09] thebyrd commented on #58
This repo is public and it involved an API secret, so I'll send it to you and Abhi in slack. Don't show it to anyone. It's a simple curl statement.

[2015-03-03 22:31] ethanresnick opened #59 "Githook for deployment"
Should auto redeploy the site when a commit is made, including:

1. rebuilding the livescript, sass, etc.
2. invalidate all the cloudflare caches, with the code David sent over slack

[2015-03-03 22:41] ethanresnick commented on #58
@thebyrd Thanks David!

Keeping the TTL long and then purging only when necessary makes sense. I think that means purging in two cases:

1. On deploy, which is something that Abhi can easily add to the githook. I made [an issue](https://github.com/TechAtNYU/tech-nyu-site/issues/59) for that.

1. Every time the contents of `http://api.tnyu.org/v1.0/up-next-publicly` change. Since the site is [alrea

[2015-03-03 23:18] ethanresnick commented on #58
Fuck. Moving to Cloudflare broke all our subdomains [again](https://github.com/TechAtNYU/tech-nyu-site/issues/38#issuecomment-56610516), so I had to temporarily switch the nameservers back to namecheap.

@thebyrd can you make sure cloudflare is reflecting all our other dns records properly (see below/in the namecheap control panel) before switching back

![screen shot 2015-03-03 at 6 09 23 pm](htt

[2015-03-04 00:26] thebyrd commented on #58
:fire: :fire:

adding a subdomain in cloudflare is pretty straightforward. A slack message would have solved the problem in 5 minutes. Now the site is down, when you're ready to get the site back up, please slack me the subdomains and ips you'd like.

[2015-03-04 00:33] abhiagar commented on #58
Don't keep switching dns please! Breaks a lot of things during events

On Tuesday, March 3, 2015, David Byrd <notifications@github.com> wrote:

[2015-03-04 00:37] thebyrd commented on #58
I haven't touched it yet

[2015-03-04 02:42] ethanresnick commented on #58
@thebyrd You're right that I could have asked you first, and then only made the change on my own if you didn't respond right away. I just felt a sense of urgency because I got a message from the bd team telling me that they were sending out sponsorship prospectuses and companies couldn't get them to load, so I reacted in a bit of a panic. I do appreciate your help with this.

@AbhiAgarwal Sorry th

[2015-03-06 23:22] ethanresnick commented on #59
@AbhiAgarwal Setting up this (or at least manually redeploying the site) is extra important right now, since we want to start marketing our Edward Tufte event, which requires the techatnyu.org redirect that I [just added](https://github.com/TechAtNYU/tech-nyu-site/commit/1ddc9aa6ee135f22ec5d437186f754d7ed6e0691). If you could handle this asap, I'd really appreciate it!

[2015-03-09 15:18] AbhiAgarwal commented on #59
I manually pulled it. I won't be able to do much until after spring break now - sorry.

[2015-04-02 22:02] AbhiAgarwal opened #60 "All next-event goes to nyusw.com"
Disable it after SW ends

[2015-04-25 18:25] irisyuan commented on #60
Is this disabled? The next event still links to nyusw instead of the next design event

[2015-04-26 18:08] AbhiAgarwal commented on #60
@ethanresnick

This is the translation into Javascript.

[code]

What is ` if ((ref$ = data.promo) != null && ref$.isEvent) {` supposed to do? I did a `console.log` and `data.promo` is not in data.

[2015-04-26 18:11] AbhiAgarwal commented on #60
Just an FYI I removed that line and it works. I'm not too sure how `data` plays into this particular function. I get that if we were to add a promo we would add that into `data` (that's defined directly above that function). But this shouldn't be an `if` statement around the whole block.

[2015-04-28 15:20] ethanresnick commented on #60
@AbhiAgarwal the fix you applied works for now. The only thing it doesn't do is support our falling back to a default promo message when there is no next event. That's what the old code was trying to do, but it had a bug, which is why it wasn't working.

Let's stick with your fix for now, since it gives us all we need until the end of the year. But I'm leaving this issue open as a reminder to myse

[2015-05-01 18:04] #7 closed

[2015-05-01 18:08] ethanresnick opened #62 "Digest UX Improvements"
- When the subscribe succeeds, rather than directing the user to a new page, the original form/text on the homepage could disappear and just be replaced with the success message?
  - would cause problems if people want to sign up two different email addressses—or, far more likely—if they mistype their email. so maybe the original form would come back on reload?

- Also, it might be nice to design

[2015-05-12 03:37] AbhiAgarwal opened #63 "Enable Desktop notifications?"
I got a desktop notification and I was thinking. Can we do that on the Tech@NYU website as well?

This is something that would try do the same thing the calendar feed does. It would ask for desktop notification access when you go to the Tech@NYU website. Then we would push directly to their desktop.

References:

- https://dvcs.w3.org/hg/notifications/raw-file/tip/Overview.html
- http://caniuse.co

[2015-05-12 04:13] ethanresnick commented on #63
Woah. Now this would be some sexy shit.

I'm a little worried that it could annoy people, unless we make it super clear what notifications they're opting into (but, at that point, maybe we should just point them to the calendar feeds?). Still, I think there's definitely some way we can use this tech. Another possibility (though perhaps low-priority) would be to do it on the intranet, to keep peopl

[2015-06-19 19:32] ethanresnick opened #64 "Add dynamic calendar UI"
cc @grungerabbit

[2015-06-24 03:01] ethanresnick opened #65 "Redesign Post Mortem"
I know there's talk of killing this site in favor of something simpler, and I want to comment on that.

First, I want to acknowledge the current site's many failings:

1. The technology stack is far too complicated. My decision to use livescript was bad for maintainability. But that decision could be undone reasonably simply (e.g. by replacing the livescript with a slightly-cleaned-up version of t

[2015-06-24 03:02] ethanresnick commented on #65
cc @AbhiAgarwal @grungerabbit @terriburns @freialobo @maxdumas

[2015-06-24 12:28] terriburns commented on #65
I totally agree. It would be a shame to nix the whole site. It is visually striking, and I think has been a big factor in making us seem "legit" to students, companies, and other organizations we have been involved with. It is by no means perfect, and I agree that the best way to move forward is to make incremental changes over time. Perhaps we can set up a meeting where we discuss the more glarin

[2015-06-27 16:24] ethanresnick opened #66 "Potential Site Content"
Below is a copy pasted email from @revivek a couple years back  showing one potential content/structure for the main site. Leaving it here for reference.

**Home**

Tech@NYU explores and solves problems, big and small, using technology.

We do this through:

- Connecting students to the larger technology community
- Educating and sharing resources only possible to obtain as a group
- Connecting st

[2015-06-27 18:05] freialobo commented on #66
I like this general structure, and especially "press" because we don't have anything like that right now, and it helps us seem more legit

[2015-08-08 18:17] terriburns opened #68 "Nav Bar Background Colors Hidden After Scrolling"
So. Mid-writing this issue I refreshed the website and the bug was gone. Tried replicating it with no avail. So I thought I'd just put this here in case anyone else has experienced it/for documentation.

When you're at the top of the web page, the nav bar is hidden.
When you scroll a certain amount, the nav bar beautifully appears.
![screen shot 2015-08-08 at 2 16 06 pm](https://cloud.githubuserco

[2015-08-12 23:58] grungerabbit commented on #65
Adding @oa495 to this discussion!

[2015-08-13 04:41] AbhiAgarwal commented on #65
Also adding @aliceyli. Her idea was to bring some content from our child sites (ship, nyusw, demodays and what not) and put it on the main site. I think she wanted to move the team page onto the main site (among other things).

Also: we should add press to it.

[2015-08-13 10:07] ethanresnick commented on #65
Awesome. Lmk if I can help with debugging, or who I should get up to speed on this code. I'll also try to go through soon and compile the livescript to pure js and then clean that up, so that it's one less thing for maintainers of this site to learn.

[2015-08-13 12:28] terriburns commented on #65
I really like @aliceyli's suggestion to put all of our external sites in one place. It makes sense for a lot of reasons. I personally would like this to be somewhat of a priority, contingent upon you all's time/plans.

[2015-08-13 14:23] oa495 commented on #65
@ethanresnick I'll be working on the site with Dana possibly. I agree that we can start with incremental, uncontroversial changes like the calendar. We're getting started on the job board and the idea is that we use that as a guide for the main site when the time comes.

 I do think adding ship + job board to the main site is a good idea but @grungerabbit and I like having one off sites for our ev

[2015-08-13 22:23] aliceyli commented on #65
Adding ship and the job board to the main site would be great. I just want
a way for potential sponsors or members to easily find out more about us. I
didn't even know about the demo days site as an eboard member for a long
time.

It is nice having the freedom to structure the one off sites according to
the events though. Maybe instead of consolidating them completely, we could
do this:

- add a l

[2015-08-14 12:58] terriburns commented on #65
I think having external sites is just confusing. Whats the advantage of keeping them? @aliceyli  you mentioned liking having the freedom to structure the external sites according to event, but can't we also do that on the main site? we just have so many events it seems decentralized to maintain external sites.

(slightly related: @freialobo re what @aliceyli just said -- nyu local peeps want to jo

[2015-08-14 22:02] oa495 commented on #65
If we have external sites for just DemoDays & Startup week I don't think
it'll be decentralised. If they were attached to the main site I don't know
if we would have so much creative freedom when making them. I feel like it
would have to fit in with the general look of the site - which is not a bad
thing necessarily but I think it would be nice to be able to design them as
we see fit.

@cheryl wha

[2015-08-15 02:09] cheryl commented on #65
Hi @oa495 I think you've got the wrong cheryl?

[2015-08-15 03:16] freialobo commented on #65
yep we meant @grungerabbit :) sorry @cheryl!

[2015-08-15 08:37] AbhiAgarwal commented on #65
Yeli++ I definitely agree with your points!

We can't be as flexible on the main site because it's hard to change for
each event.

The demodays site helps us catalog all our previous demodays and the hacks
that were presented there. Also the people who presented there.

Our ship site is to help have a place to show off all the projects we have
done. Not just only the best projects but all our proj

[2015-08-15 15:14] grungerabbit commented on #65
Alice, Abhi, Yeli++. awesome ideas and comments. I think the main problems with the one-off sites are they're not currently *findable* from the main site, and there isn't much cohesion with or back to the main site.

It's useful to keep them separate though because they are much much easier to develop and update. techatnyu.org is more of a static, informational site about our institution, which ar

[2015-08-15 15:18] grungerabbit commented on #65
Also, keeping them separate means we don't have do do a massive redsign of EVERYTHING AT ONCE the next time our site or brand changes...

[2015-08-15 15:35] grungerabbit commented on #65
Here's the microsite design audit https://github.com/TechAtNYU/branding/blob/master/screenshots/README.md

[2015-08-15 21:26] grungerabbit commented on #65
Also for example, all of these DD archive pages make less sense on techatnyu.org (it's possible people have never found this page tho and that's my bad) http://demodays.co/archive/

[2015-08-19 12:13] ethanresnick commented on #65
I think it's hard to predict how these sites will get integrated long term, though I do think integrating them **from the user's perspective** should be the goal. By that, I mean we should focus on better discoverability (with interlinking) and consistency (in both the visuals and interaction patterns).

User-focused integration sometimes gets easier with technical integration (e.g. having one sty

[2015-08-26 06:12] AbhiAgarwal commented on #65
Love idea 4! Good idea to embed all of this into our current stack. Would love to set a deadline for this so we can get rolling on this :) Also so we can get the new infra recruits to help on this going forward.

[2015-08-26 23:54] ethanresnick commented on #65
I'm glad.

Maybe we can get the new infra recruits helping in converting the livescript to pretty JS? I've already converted some of the files (in the `ls-to-js` branch), but there are still a bunch that need it and I don't have a lot of time to work on this.

The workflow should be pretty straightforward, though, if others can help out. I've just been compiling the site as usual, then looking at

[2015-08-27 01:05] ethanresnick commented on #17
This is fixed in the ls-to-js branch, which, per the discussion in #65, just removes the paginated mode all together.

[2015-08-27 01:05] #17 closed

[2015-08-27 20:13] ethanresnick commented on #10
I explored some potential fixes for this and, rather than trying to notify the leftSidebar component, the sensible and far easier fix is to have the digestSignup component unfocus itself if the user is still focused on it after a certain scroll point.

[2015-09-01 21:28] ethanresnick opened #69 "Action Items from Redesign Post Mortem"
The list below doesn't represent everything that was discussed in #65, but it is a _concrete_ set of items that will make the main site _way_ may more maintainable and extensible, and therefore give us the option to think later about what level of integration with our other sites is appropriate.

- [x] Convert the Livescript to JS.

- [x] Remove the features related to pagination. (By this I mean

[2015-09-15 14:21] ethanresnick commented on #68
I'm pretty sure this doesn't happen anymore!

[2015-09-15 21:21] terriburns commented on #68
@ethanresnick since your livescript to javascript updates?

[2015-09-15 21:35] ethanresnick commented on #68
Yeah

[2015-09-15 21:36] ethanresnick commented on #68
(But we can leave it open for now in case it happens again.)

[2015-09-23 13:12] grungerabbit commented on #51
closing in favor of https://github.com/TechAtNYU/branding/issues/5 and frontify

[2015-09-23 13:12] #51 closed

[2015-09-23 13:13] grungerabbit commented on #30
closing because of this entire project https://github.com/TechAtNYU/job-board

[2015-09-23 13:13] grungerabbit commented on #60
did we ever fix this? bahaha

[2015-09-23 13:16] grungerabbit commented on #64
yelly is owning the calendar - the jank prototype i had made is here: https://github.com/grungerabbit/tech-nyu-site/tree/calendar/simple-cal/app

she has a much more refined version in progress. we can consider splitting calendar UI module off into its own repo? thoughts @oa495 ? I think when it's done, we should have Calendar as an include as part of https://github.com/TechAtNYU/universal-header

[2015-09-23 13:26] AbhiAgarwal commented on #60
@grungerabbit I think the solution right now works. The current event doesn't have an RSVP url so it doesn't appear.

[2015-09-23 13:31] grungerabbit commented on #60
great, closing. :fire:

[2015-09-23 13:31] #60 closed

[2015-09-23 13:34] AbhiAgarwal commented on #64
I was thinking if the end goal can be a calendar that can just take like an API events response and build a calendar from it :) So we can use the same calendar on the nyusw.com site to be a calendar for our Startup week. We'd just give it the API response to be like `/events/<startup-week-filter>`

[2015-09-23 13:39] grungerabbit commented on #64
yeah of course - this is what i meant

https://jsfiddle.net/grungerabbit/p768vxt1/1/embedded/result/

[2015-09-23 13:40] grungerabbit commented on #64
click on that [cal] button in the right to see

[2015-09-23 13:42] AbhiAgarwal commented on #64
Perfect @grungerabbit. I was reading this part:

"They were lost without the elfish church that composed their flat. If this was somewhat unclear, the literature would have us believe that an utmost lip is not but an alcohol."

Got really confused really fast. Yeah great idea! A really good solution :) Also very easy to update and manage on all of our sites.

How do you think this will look on our

[2015-09-23 13:44] grungerabbit commented on #64
that's a really good question and i want to tackle the techatnyu.org integration after we

1. convert to jekyll
2. tackle some of these https://github.com/TechAtNYU/universal-header/issues (especially universal-header#7)

[2015-09-23 13:45] AbhiAgarwal commented on #64
Gotcha! Awesome :) :100:

[2015-09-23 15:03] ethanresnick commented on #30
Leaving this open, actually, since I still want to link job board more prominently on the main site (e.g. in top nav) regardless of what we do on the job board site

[2015-09-23 15:46] AbhiAgarwal commented on #30
:+1:

[2015-10-07 04:05] grungerabbit opened #72 "temp link to cal.techatnyu.org"
make the CTAs and copy link to cal.techatnyu.org for now

[2015-10-07 07:53] ethanresnick commented on #21
Obsoleted by the removal of pagination mode

[2015-10-07 07:53] #21 closed

[2015-10-07 08:07] ethanresnick commented on #72
This is fine by me but, out of curiosity, why did we develop the cal in a separate repo in the first place (rather than a branch here)? Was it because I was still working on the Livescript conversion? If so, my bad. But, now that that's done, we should be thinking about _how_ this integration is actually going to work before you and yelly put more time into this, because the integration could be k

[2015-10-09 08:54] ethanresnick commented on #26
Actually, this would break the nav cascade effect, which requires the nav items to drop down one by one. So let's keep things as is.

[2015-10-09 08:54] #26 closed

[2015-10-09 08:54] ethanresnick commented on #59
This is done now by circleci.

[2015-10-09 08:54] #59 closed

[2015-10-09 09:31] ethanresnick opened #73 "CircleCI weirdness"
@AbhiAgarwal I recently created and pushed to a new branch (refactor) and it looks like somehow those commits got deployed live...which confuses me because the circle.ml file definitely looks like it's only operating on master. Any idea what could be happening? (Also, let's get back the working site asap!)

[2015-10-09 11:21] ethanresnick commented on #73
Edit: this seems to have fixed itself... very strange.

[2015-10-09 15:35] AbhiAgarwal commented on #73
LOL internets.

[2015-10-09 15:36] AbhiAgarwal commented on #72
@ethanresnick I think they wanted it to be a part of the universal-header they are working on as well. So the same code would be used on the main site and the universal-headers (?).

[2015-10-28 03:19] #72 closed

[2015-11-05 05:00] #44 closed

[2016-07-18 14:03] brentdur opened #75 "Add Sponsor links"
Digital ocean has requested that we add a linkback to them and we feel we should do the same for Azure as well.